/* --- main structure styling --- */

html {
    background-image: url(images/jungle.jpg);
    background-size: cover;
}

body {
    background: #8aecff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
}

header {
    color: #000;
    display: flex; 
    margin: auto;
    padding: 10px;
}

main, html {
    margin: auto;
    width: fit-content;
}

main {
    max-width: 600px;
    padding: 10px;
}

.group {
    display: flex;
    flex-direction: column;
    padding: inherit;
    margin: auto;
}
  
.item {
    flex: 1;
}

a {
    margin: auto;
    text-decoration: none;
    width: 50%;
}

.mr-5 {
    margin-right: 25px;
}

span {
    padding: 20px;
}

/* --- button styles --- */

.btn-style {
    background: #fff;
    border-radius: 10px;
    color: #000;
    border: 3px solid #000;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 15px 30px;
}

button:hover, input[type="submit"]:hover, input:hover, a:hover {
    background: #005200;
    cursor: pointer;
    transform: scale(1.1);
}

/* --- radio inputs --- */

.radio {
    font-size: 2rem;
    width: fit-content;
}

input[type='radio'] { 
    transform: scale(2); 
}

[type=radio] {
    margin-right: 15px;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

/* --- quiz summary styling --- */

.summary-reponse {
    display: block;
    font-size: 32px;
}

.quiz-summary-container {
    color: #000;
    height: 100%;
    margin: 0 auto 30px;
    padding: 20px 60px 0;
}

.quiz-summary {
    font-size: 48px;
    margin: 30px auto 25px;
}

.quiz-summary-span {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}

#total-score {
    font-size: 36px;
}

.start-over-container {
    margin-top: 35px;
    padding-bottom: 50px
}

/* --- Heading / Text Styling --- */

h1 {
    color: #000;
    font-size: 60px;
    margin: 50px auto 0;
    padding: 0 15px;
}

h1, #total-score, .correct-answer, .incorrect-answer, .quiz-summary {
    font-family: 'Fredoka One', cursive;
}

p {
    margin: 0 auto;
}

/* --- image styling --- */

img {
    border-radius: 15px;
}

.main-image {
    margin: 30px auto;
    width: 100%;
}

/* --- question styling --- */

#question-number {
    font-size: 32px;
    margin-bottom: 25px;
}

.question-box {
    color: #000;
    display: flex;
    font-size: 30px;
    margin: 30px auto 40px;
    width: 100%;
}

/* --- answer styling --- */

.correct-answer {
    color: #005200;
    font-size: 55px;
    margin-bottom: 10px;  
}

.incorrect-answer {
    color: #8A0000;
    font-size: 55px;
    margin-bottom: 10px;  
}

.answer-box {
    background: #fff;
    border: 3px solid #000;
    border-radius: 30px;
    color: black;
    margin: 25px auto;
    padding: 15px 10px;
    width: 80%;
}

#submit-answer {
    margin-bottom: 30px;
    margin-top: 30px;
}

.answer-explanation {
    color: #000;;
    display: block;
    font-size: 32px;
}

.answer-fact {
    color: #000;;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 0;
}
