body {
    color: white;
    font-size: 24px;
    text-align: center;
}

button {
    background: white;
    color: black;
    border: 5px solid black;
    font-size: 28px;
    padding: 10px 15px;
}

header {
    background: white;
    border: 5px solid black;
    color: black;
    display: flex;
    height: 80px; 
    margin: auto;
    width: 95%;
}

main {
    max-width: 600px;
    padding: 30px;
    margin: auto;
}

.main-image {
    background: white;
    border: 5px solid black;
    color: black;
    display: flex;
    height: 300px;
    margin: 30px auto;
    width: 80%;
}

.question-box {
    background: white;
    border: 5px solid black;
    color: black;
    display: flex;
    height: 150px;
    margin: 30px auto;
    width: 100%;
}

.answer-box {
    background: white;
    border: 5px solid black;
    color: black;
    display: flex;
    height: 75px;
    margin: 30px auto;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .item {
    flex: 1;
    margin: auto;
  }

  h1 {
      margin: auto;
  }

  span {
      padding: 20px;
  }