body {
    background: yellow;
    color: white;
    font-size: 24px;
    text-align: center;
}

header {
    background: skyblue;
    height: 80px; 
    width: 100%;
}

main {
    padding: 30px;
}

.main-image {
    background: blue;
    height: 300px;
    margin: 30px auto;
    width: 80%;
}

.question-box {
    background: black;
    height: 150px;
    margin: 30px auto;
    width: 100%;
}

.answer-box {
    background-color: gray;
    height: 75px;
    margin: 30px auto;
    width: 100%;
}